@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 768px){
    section.section-container{
        flex-direction: column;
        width: 90%;
    }

    h1{
        font-size: 1.5em;
    }
    div.img{
        text-align: center;
    }

    div.img img{
        width: 250px;
        height: 200px;
    }
    
    div.texto{
        padding: 0;
    }
    .p_texto{
    
    }
}