
@media screen and (min-width: 320px) and (max-width: 768px) {
    *{
        padding: 0;
    }

    body{

    }

    
    p.header-profissao{
        font-size: 16px;
        margin: 0 10px;
        padding: 10px;
        width: 250px;
        text-align: center;
    }

    header.header-container{
        display: block;
    }
    
    section.section-container{
        flex-direction: column;
        padding: 5px;
        height: auto;
    }

    ul.ul-list-links > li a{
        font-size: 18px;
    }

    section > div.img img{
        width: 300px;
    }

    p.p_texto{
        height: 400px;
        text-align: justify;
        overflow: scroll;
        border: 1px solid #ddd;
        padding: 10px;
    }

    section#section_1{
        height: 600px;
    }

    h1{
        font-size: 2.5em;
        text-align: center;
    }

    article div.texto{
    
    }
}