@charset "utf-8";

*{
    margin: 0;
}

:root{
    --cinza: #F8F8F8;
    --azul-borda: #0D99FF;
    --section03: #E6F4FF;
}

header.header-container{
    height: 80px;
    width: calc(100% -70px);
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    align-content: space-between;
    padding: 0 40px;
    border-bottom: 1px solid var(--azul-borda);
}

p.header-profissao{
    font-size: 20px;
}

p.p_texto{
    font-size: 23px;
    height: 50%;
}

h1{
    font-size: 4em;
    text-shadow: 3px 3px 3px black;
}

hr{
    margin: 30px;
    color: #ddd;
}

ul.ul-list-links{
    display: flex;
    gap: 15px;
    list-style-type: none;
}

ul.ul-list-links > li > a{
    font-size: 20px;
    text-decoration: none;
    color: var(--azul-borda);
}

ul.ul-list-links > li > a:hover{
    color: #047cd1;
}

iframe{
    width: 100%;

}

/*section geral*/
section.section-container{
    height: 800px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section 1*/
section#section_1{
    background-color: var(--cinza);
    background-image: url("https://www.shutterstock.com/image-vector/application-smartphone-business-graph-analytics-260nw-1583248045.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

div.texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section 2*/

section#section_2{
    background-color: #fff;
}

/*section 3*/
section#section_3{
    background-color: var(--section03);
}